{% extends 'base.html' %}

{% block title %}{{title}}{% endblock title %}

{% block content %}
    <h1>{{title}}</h1>
    <!--En caso que se produzcan errores se mostrara-->
    {{ register_form.errors}}
    <form method='POST' action="" align="center">
        {% csrf_token %}
        {% comment %} {{ register_form.as_p }} {% endcomment %}
        {% for campo in register_form %}
            <label>{{campo.label}}</label>
            {{campo}}
        {% endfor %}

        <input type='submit' value='Registrarse'></input>
    </form>
{% endblock content %}
