{% extends 'base.html' %}

{% block title %}
Sobre Nosotros - BSV
{% endblock %}

{% block content %}

<section class="bg-light py-5">
    <div class="container px-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-8">
                <br>
                <p><h1 class="text-center"><b>Mi Sitio:</b></h1></p>
                <br>
                <p>Este proyecto es el trabajo final del curso de Python dictado en CoderHouse. Habia que crear un app aplicando todo lo aprendido en clase. </p>
                <p>Puedes leer más sobre los detalles del proyecto en el archivo README</a></p>
                <br>
                <br>
                <p><h2 class="text-center"><b>&#x1f4ac¿Quiénes somos?</b></h2></p>
                <br>
                <h3 class="text-center">&#x2666<strong>Facundo Battaglino</strong></h3>
                <p class="text-center">Tengo 23 años y naci en Rafaela, Santa Fe, Argentina. Actualmente me dedico a la venta de sub productos para el campo. Me sume al curso de programación en python porque me interesaba el tema, lo hice para adquirir nuevas habilidades y considerar otras propuestas laborales</p>
                <br>
                <br>
                <h3 class="text-center">&#x2666<strong>Facundo Sanchez</strong></h3>
                <p class="text-center">Argentino de 24 años, de la provincia de Tucumán. Me desempeño actualmente como Desarrollador BackEnd y Analista de Datos. Me sume al curso de Programación en Python para adquirir más conocimientos y buenas practicas, y también para poder interiorizarme más con el Framework Django.</p>
                <br>
                <br>
                <h3 class="text-center">&#x2666<strong>Ernesto Vega</strong></h3>
                <p class="text-center">Soy Venezolano de 33 años que reside en Argentina, me encuentro en constante busqueda de aprendizaje y crecimiento profesional, actualmente me desempeño como Analista de Aplicaciones IT, me intereso el mundo de programacion en Python ya que estoy interesado en ahondar en el mundo de desarrollo.</p>
                <br>
                <br>
                
            </div>
        </div>
    </div>
</section>
{% endblock %}